.add-note-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.note-title-input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-family: monospace;
  width: 95%;
}

.note-textarea {
  padding: 8px;
  min-height: 100px;
  border-radius: 6px;
  border: 1px solid #ccc;
  resize: vertical;
  font-family: monospace;
  width: 95%;
}

.add-btn {
  background: #28a745;
  color: white;
  padding: 8px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
}

.add-btn:hover {
  background: #218838;
}
